/* Font Vazir */
@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Vazir.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Vazir.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Vazir.ttf") format("truetype"); /* Safari, Android, iOS */
  /*url('webfont.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
}

body {
  background: #ffffff;
  color: #444;
  font-family: "Vazir" !important;
  text-align: right;
  direction: rtl;
  margin: 1rem ;
}

.operation_btns {
  position: absolute;
  left: 0;
}
